enable
configuration terminal

hostname R1

interface FastEthernet 0/0
description "lien vers f0/0 R3"
ip address 10.0.2.254
no shutdown
exit

interface FastEthernet 0/1
description "lien vers f0/0 R2"
ip address 10.0.1.254
no shutdown
exit

vlan database
! creer vlan 20 name VLAN0020
vlan 20
exit

interface vlan 20
ip address 10.0.0.242 255.255.255.0
no shutdown
exit

interface FastEthernet 0/0/0
switchport mode access
switchport access vlan 20
no shutdown
exit

exit
write memory
